.single {
  display: flex;
  @media (max-width: 767px) {
    flex-direction: column;
  }
  .left {
    min-height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .content {
      transform: translateX(10vh);
      @media (max-width: 767px) {
        transform: none;
      }
      .back {
        align-self: flex-start;
        padding: 5px 11px;
      }
      .img {
        height: 60vh;
        width: 60vh;
        border-radius: 20px;
      }
      @media (max-width: 767px) {
        padding: 20px 0;
      }
    }
    @media (max-width: 767px) {
      width: 100%;
      min-height: 70vh;
    }
  }
  .right {
    min-height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 100px 8% 70px 0;
    text-align: justify;
    justify-content: space-around;
    .title {
      font-weight: 700;
      font-size: 28px;
    }
    .desc {
      font-weight: 300;
      font-size: 18px;
    }
    .addr {
      font-weight: 300;
      font-size: 32px;
    }
    @media (max-width: 767px) {
      width: 100%;
      min-height: 70vh;
      padding: 0;
      gap: 30px;
    }
  }
}
